<div class="wide-center fixed-header-margin" style="padding-top: 151px;">
  <div class="content-push">
    <div class="information-blocks">
      <div class="row">

        <div class="col-sm-6 information-entry center">
          <div class="login-box" style="width: 50% ">
            <div class="article-container style-1">
              <!--<h3>Registrate</h3>-->
            </div>
            <!--<a class="button style-12 register">
              <i class="fa fa-user">  Register Account</i></a>-->
            <br/><br/><br/>
            <a class="button style-12 register" ng-click="login.authenticate('google')" style="background-color:#dd4b39 !important; border-color:#dd4b39 !important"><i class="fa fa-google-plus">  Inicia sesión con Google+</i></a>
            <br/>
            <a class="button style-12 register" ng-click="login.authenticate('facebook')" style="background-color:#3b5998 !important; border-color:#3b5998 !important"><i class="fa fa-facebook">  Inicia sesión con Facebook</i></a>
            <br/><br/><br/><br/><br/><br/>
            <div class="foo-buttons">
              <a class="button style-12 register block" style="width: 49%; border-color:#3b5998 !important">Iniciar sesión</i></a>
              <a class="button style-12 register block" style="width: 49%; border-color:#3b5998 !important" ui-sref="register">Nuevo Usuario</a>
            </div>
          </div>

        </div>
      </div>
    </div>



  </div>

</div>