<div class="wide-center fixed-header-margin fixed-div"  style="margin-top:200px;">
  </div>
	<div class="information-blocks">
		<div class="row">
			<div class="col-sm-5 col-md-4 col-lg-5 information-entry">
				<div class="product-preview-box">
					<div class="swiper-container product-preview-swiper" data-autoplay="0" data-loop="1" data-speed="500" data-center="0" data-slides-per-view="1">
						<div class="swiper-wrapper">
							<div class="swiper-slide">
								<div class="product-zoom-image">
									<img src="{{detail.product.image}}" alt="" data-zoom="{{detail.product.image}}" />
								</div>
							</div>
							<div class="swiper-slide">
								<div class="product-zoom-image">
									<!--<img src="{{detail.productDetail.image}}" alt="" data-zoom="img/product-main-2-zoom.jpg" />-->
								</div>
							</div>
							<div class="swiper-slide">
								<div class="product-zoom-image">
									<!--<img src="{{detail.productDetail.image}}" alt="" data-zoom="img/product-main-3-zoom.jpg" />-->
								</div>
							</div>
							<div class="swiper-slide">
								<div class="product-zoom-image">
									<!--<img src="{{detail.productDetail.image}}" alt="" data-zoom="img/product-main-4-zoom.jpg" />-->
								</div>
							</div>
						</div>
						<div class="pagination"></div>
						<div class="product-zoom-container">
							<div class="move-box">
								<img class="default-image" src="{{detail.product.image}}" alt="" />
								<!--<img class="zoomed-image" src="{{detail.productDetail.image}}" alt="" />-->
							</div>
							<div class="zoom-area"></div>
						</div>
					</div>
					<div class="swiper-hidden-edges">
						<div class="swiper-container product-thumbnails-swiper" data-autoplay="0" data-loop="0" data-speed="500" data-center="0" data-slides-per-view="responsive" data-xs-slides="3" data-int-slides="3" data-sm-slides="3" data-md-slides="4" data-lg-slides="4"
										data-add-slides="4">
							<div class="swiper-wrapper">
								<!--<div class="swiper-slide selected">
									<div class="paddings-container">
										<img src="{{detail.productDetail.image}}" alt="" />
									</div>
								</div>-->
								<!--<div class="swiper-slide">
									<div class="paddings-container">
										<img src="{{detail.productDetail.image}}" alt="" />
									</div>
								</div>
								<div class="swiper-slide">
									<div class="paddings-container">
										<img src="{{detail.productDetail.image}}" alt="" />
									</div>
								</div>
								<div class="swiper-slide">
									<div class="paddings-container">
										<img src="{{detail.productDetail.image}}" alt="" />
									</div>
								</div>-->
							</div>
							<div class="pagination"></div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-sm-7 col-md-4 information-entry">
				<div class="product-detail-box">
					<h1 class="product-title">{{detail.product.name}}</h1>
					<!--<h3 class="product-subtitle">Loremous Clothing</h3>-->
					<div class="product-description detail-info-entry">{{detail.product.description}}</div>
					<div class="price detail-info-entry">
						<!--<div class="prev">$90,00</div>-->
						<div class="current">{{detail.product.value | currency :$:0}}</div>
					</div>
					<div class="quantity-selector detail-info-entry">
						<div class="detail-info-entry-title">Cantidad</div>
						<div class="entry number-minus" ng-click="detail.spinnerDown(detail.product)">&nbsp;</div>
						<div class="entry number">{{detail.quantity}}</div>
						{{detail.product | json}}
						<div class="entry number-plus" ng-click="detail.spinnerUp(detail.product)" ng-disabled="{{detail.quantity==detail.product.quantity}}" title="{{detail.quantity==detail.product.quantity? 'No hay más unidades para adicionar':''}} ">&nbsp;</div>
					</div>
					<div class="detail-info-entry">
						<a class="button style-10" ng-click="detail.AddProduct(detail.product,detail.quantity)">Añadir al Carrito</a>
						<a class="button style-11" ng-click="detail.AddFavorite(detail.product)""><i class="fa fa-heart"></i> Añadir a Favoritos</a>
						<div class="clear"></div>
					</div>
				</div>
			</div>
			<div class="clear visible-xs visible-sm"></div>
			<div class="col-md-4 col-lg-3 information-entry product-sidebar">
				<div class="row">
					<div class="col-md-12">
						<div class="information-blocks production-logo">
							<div class="background">
								<!--<div class="logo"><img src="img/production-logo.png" alt="" /></div>-->
								<a href="#">Califica este producto</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="information-blocks">
		<div class="tabs-container style-1">
			<div class="swiper-tabs tabs-switch">
				<div class="title">Product info</div>
				<div class="list">
					<a class="tab-switcher active">Información Importante</a>
					<div class="clear"></div>
				</div>
			</div>
			<div>
				<div class="tabs-entry">
					<div class="article-container style-1">
						<div class="row">
							<div class="col-md-12">
								<h4>TERMINOS Y CONDICIONES</h4>
								<p>{{detail.policies}}</p>
							</div>

						</div>
					</div>
				</div>

			</div>
		</div>
	</div>

	<div class="information-blocks">
		<div class="row">
			<div class="information-entry col-md-6">
				<div class="sale-entry">
					<div class="hot-mark red">hot</div>
					<div class="sale-price"><span>-30%</span></div>
					<div class="sale-description">Usando el código VIDASALUDABLE obtén 30% en todos los productos de la categoría frutas y verduras.</div>
				</div>
			</div>
			<div class="information-entry col-md-6">
				<div class="sale-entry">
					<div class="hot-mark red">hot</div>
					<div class="sale-price">En el día de amor y amistad </div>
					<div class="sale-description">Encuentra descuentos en dulces destacados. Usa el cupón SANVALENTIN para redimir este beneficio.</div>
				</div>
			</div>
		</div>
	</div>

</div>
